.header {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.top-fixed {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.header-icons {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  padding: 5px 0;
  margin-right: 16px;
}

.header .logo-img {
  height: 40px;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  height: fit-content;
}

.navbar-toggler-icon {
  background-image: url("../assets/images/menu.png");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.header .navbar {
  text-align: end;
  background: #4e7fff;
  height: calc(100vh - 100px);
  padding: 20px 20px;
}

.header .navbar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
  font-weight: 600;
}

.header .navbar-ul li {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding: 0.5rem 1rem;
}
