.section-6 {
    padding-top: 100px;
    max-width: 540px;
    margin: auto;
    line-height: 1.8;
  }
.section-6_subtitle{
    text-align: center;
    margin-bottom: 5rem;
    color: #fff;
    font-family: 'OrkneyRegular';
    font-weight: 600;
    font-style: normal;
}


@media (min-width: 768px) {
  
    .section-6 {
      max-width: 720px;
    }
  
  }
  
  @media (min-width: 992px) {
    .section-6 {
      max-width: 960px;
    }
  }